<div id="footer">
  <div class="container">
    <div class="col-md-3">
        <ul>
          <li>About us</li>
          <li>Company info</li>
          <li>Work here</li>
          <li>Baked goods</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>About us</li>
          <li>Company info</li>
          <li>Work here</li>
          <li>Baked goods</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul>
          <li>About us</li>
          <li>Company info</li>
          <li>Work here</li>
          <li>Baked goods</li>
        </ul>
      </div>
      <div class="col-md-3">
        
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
        quis nostrud exercitation ullamco</p>
        <i class="fa fa-facebook"></i> Facebook
        <p>
          <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
        </p>
      </div>


  </div>
</div>


